<section class="services banner slim" >

	<article class="container fix">
	
		<div class="row">
		  <div class="col-md-6">
		  
		  	<div class="icon_split">
		  		<div class="icon_area">
		  			<img src="http://magnet.co/assets/images/icons/bulb.svg" class="medium">
		  		</div>
		  		<div class="text_area">
		  			<h2 class="headerf">Analytics &amp; Insights</h2>
		  			<p>Being responsive to the customer helps make a product great. To reach all your growth targets we use advanced data analysis to find measurable and useable patterns.</p>
		  		</div>
		  	</div><!-- end icon_split -->
			<div class="clearfix visible-xs-block"></div>
		  
		  </div>
		  <div class="col-md-6">
		  
		  	<div class="icon_split">
		  		<div class="icon_area">
		  			<img src="http://magnet.co/assets/images/icons/user-interface.svg" class="medium">
		  		</div>
		  		<div class="text_area">
		  			<h2 class="headerf">Content Strategy</h2>
		  			<p>Powerful copy and visuals encourage action, tell your story and build audience engagement and retention. We build an editorial workflow that works for your entire organization.</p>
		  			
		  		</div>
		  	</div><!-- end icon_split -->
		  	<div class="clearfix visible-xs-block"></div>
		  
		  </div>
		</div>
		
		<div class="row">
		  <div class="col-md-6">
		  
		  	<div class="icon_split">
		  		<div class="icon_area">
		  			<img src="http://magnet.co/assets/images/icons/responsive.svg" class="medium">
		  		</div>
		  		<div class="text_area">
		  			<h2 class="headerf">Interface Design</h2>
		  			<p>Transforming your ideas into beautiful and highly functional interfaces through HTML5 and CSS, ready for use as templates within web applications.</p>
		  		</div>
		  	</div><!-- end icon_split -->
		  	<div class="clearfix visible-xs-block"></div>
		  
		  </div>
		  <div class="col-md-6">
		  
		  	<div class="icon_split">
		  		<div class="icon_area">
		  			<img src="http://magnet.co/assets/images/icons/flask.svg" class="medium">
		  		</div>
		  		<div class="text_area">
		  			<h2 class="headerf">Engineering</h2>
		  			<p>Planning and composing powerful, scalable solutions for desktop and mobile devices with intuitive, accessible code that will stand the test of time.</p>
		  		</div>
		  	</div><!-- end icon_split -->
		  	<div class="clearfix visible-xs-block"></div>
		  
		  </div>
		</div>
		
	</article>

</section>
