<div class="container">
<!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-4 text-center">
      <img class="img-circle mainClasses" src="http://i.telegraph.co.uk/multimedia/archive/01934/boa_1934033c.jpg">
      <h2>Serpientes</h2>
      <p>Consejos utiles de la mano de los expertos en serpientes sobre como brindar un mejor cuidado a nuestro queridas amigas y tambien como brindarles una dieta balanceada.</p>
      <p><a class="btn btn-default" href="#">View details »</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle mainClasses" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQk0thrt5x7mt2cAI2no4eVF229ZKsOGodUDb-jz12aer4almm9">
      <h2>Lagartijas</h2>
      <p>Vea los errores mas comnes que comete la jente a la hora de criar sus Iguanas, Lagartos y demas Lagartijas, como proveer de los cuidados nesesarios para que vivan una vida plena.</p>
      <p><a class="btn btn-default" href="#">View details »</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle mainClasses" src="http://www.mercafauna.com/fotos/anuncio9.jpg">
      <h2>Tortugas</h2>
      <p>Improved support for mixins make the new Bootstrap 3 easier to customize.</p>
      <p><a class="btn btn-default" href="#">View details »</a></p>
    </div>
  </div><!-- /.row -->

{{outlet}}

</div>
